@charset "utf-8";

body {
  color: #474645;
  margin: 0;
  padding: 0;
  width: 100%;
}

.detail {
  color: #5B5656;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container-detail {
  width: 100%;
  max-width: 100%;
	height: auto;
}

.business-hour,
.access {
  flex: 1;
}

.gmap-iframe {
  aspect-ratio: 10 / 7;
  max-width: 100%;
  width: 100%;
  height: auto;

}

.logo-top {
  width: 100%;
  position: relative;
  background-color: #D9D9D9;
  display: inline-block;
  height: auto;
  position: relative;
}

.logo-top h1 {
  display: none;
  position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100%;
  width: 100%;
  padding-left: 20%;
}

.top-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  display: block;
}


.img-icon {
  max-width: 35%;
  height: auto;
}

.news h2 {
  text-align: center;
}

.greeting {
  text-align: center;
  padding: 30px 0 10px 0;
}
.hospital-photo {
  text-align: center;
}

.hide-on-mobile {
  display: none;
}

.map-image {
  padding-top: 10px;
}


.news-top {
  display: none;
}

.news-date {
  padding-right: 20px;
}

.news-flex p {
  font-size: 100%;
}

.news-flex {
  display: flex;
  display: inline-flex;
  align-items: center;
}

.news {
  padding-top: 30px;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .hospital-photo {
    display: block;

  }

	

}

@media screen and (min-width: 1200px) {
  .detail {
    justify-content: space-between;
  }

  .container-detail {
    display: flex;
		background-color: #f3f2f2;
  }

  .business-hour {
    margin-left: 200px;
  }



  .logo-top {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .logo-top h1 {
    top: 55%;
    left: 50%;
    font-size: 320%;
    padding-left: 50%;
  }

  .top-photo {
    width: 100%;
    height: auto;
  }



  .greeting {
    padding: 80px 20px;
  }

  .hospital-photo {
    display: flex;

  }



  .message {
    padding: 0 60px 0 0;
    text-align: left !important;
  }

	.message1 {
		padding: 0 0 0 60px;
	}


  .message-title {
		text-align: left;
    padding-bottom: 15px;
    margin: 0 0 10px 0;
  }

	.message-right {
		text-align: right;
		padding: 0 0 20px 0;
	}

  .img-icon {
    max-width: 100%;
  }

  .news h2 {
    padding: 50px;
  }
  .news {
    text-align: center;
		padding-top: 30px;
  }

	h4.border{
		padding-top: 70px;
	}

	.border{
		display: flex;
		align-items: center; /* 垂直中心 */

	}

	.border:after {
		border: 1px solid;
		content: "";
		width: 15em; /* 線の長さ */
	}


	.border:after {
		margin-left: 1em; /* 文字の左隣 */
	}
	
}
