a {
  color: #474645;
}

.page-item {
  padding-top: 15px;
}

.button-img .button-icon {
  max-width: none;
  height: 17px;
	padding: 0 10px;
}

details {
	margin-bottom: 10px;
}

details[open] .button-icon {
	transform:rotate(180deg);  
} 
	
summary {
	display: block;
	padding: 10px 15px;
	/* cursor: pointer; */
	border-bottom: 1px solid #cecece;
	color: #fff;
	position: relative;
}


.accordion-content {
	padding: 10px 15px;
}

details[open] summary {
	color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
}

.news-date {
  padding-right: 10px;
	font-size: 60%;
}

.center-item {
	font-size: 80%;
  margin-right: auto;
	font-weight: bold;
	display: flex;
}

.tag-font {
	padding-left: 10px;
	color: red;
}

	.blogs-container {
		display: block;
	}

	.button-flex {
		display: flex;
	}

@media screen and (min-width: 700px) and (max-width: 1200px) {
	.blogs-container {
		display: block;
	}
	
	.center-item {
		margin-right: auto;
		font-size: 100%;
	}

	.button-img .button-icon {
		height: 20px;
	}

}

@media screen and (min-width: 1200px) {
  .page-item {
    padding-top: 40px;
  }

  .button-img .button-icon {
    display: none;
  }

	.center-item {
		font-size: 100%;
	}

  .news-date {
    padding-right: 20px;
		font-size: 70%;
  }

	.blogs-container {
		display: flex;  /* 子要素を横並びにする */
		gap: 50px;  /* アイテム間のスペース */
		justify-content: space-between;  /* 均等に配置 */
		margin: 0 20px;
	}
	
	.blog-item {
		flex: 1 1 calc(30% - 20px);  /* 3つの記事を均等に表示 */
	}

	
	/* アコーディオン*/
	
	details {
		border: none;
		border-radius: 0;
		margin-bottom: 0;
		pointer-events: none;
	}
	
	summary {
		font-weight: normal;
		padding: 0;
		text-align: left;
		cursor: pointer;
		background-color: #ffffff;
	}
	
	.accordion-content {
		border-top: 0.5px solid #dfdede;
		padding: 10px 0;
	}
	
	details[open] summary {
		background-color: initial;
	} 


}
