a {
  color: #474645;
}

.page-item {
  padding-top: 15px;
}

.button-img .button-icon {
  max-width: none;
  height: 17px;
	padding: 0 10px;
}

.news-date {
  padding-right: 10px;
	font-size: 60%;
}

.center-item {
	font-size: 80%;
  margin-right: auto;
	font-weight: bold;
	display: flex;
}

.button-icon {
  transition: transform 0.3s ease; /* スムーズな回転アニメーション */
}

.button-icon.rotated {
  transform: rotate(180deg);
}


.tag-font {
	padding-left: 10px;
	color: red;
}

.button-flex {
	display: flex;
	border-bottom: solid 1px #cacaca;
	margin-bottom: 10px;
}

.accordion-content {
	display: none;
}

.accordion-content p:last-child{
		padding-bottom: 60px;
}
	
@media screen and (min-width: 700px) and (max-width: 1200px) {
	.blogs-container {
		display: block;
	}
	
	.center-item {
		margin-right: auto;
		font-size: 100%;
	}

	.button-img .button-icon {
		height: 20px;
	}

	.button-flex {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
  .page-item {
    padding-top: 40px;
  }

  .button-img .button-icon {
    display: none;
  }

	.center-item {
		font-size: 100%;
	}

  .news-date {
    padding-right: 20px;
		font-size: 70%;
		text-align: left;
  }

	.blogs-container {
		display: flex;  /* 子要素を横並びにする */
		gap: 50px;  /* アイテム間のスペース */
		justify-content: space-between;  /* 均等に配置 */
		margin: 0 20px;
	}
	
	.blog-item {
		flex: 1 1 calc(30% - 20px);  /* 3つの記事を均等に表示 */
	}

  .accordion-content {
    display: block;
  }

	.accordion-summary {
		pointer-events: none;
	}

	.accordion-content p:last-child{
		padding-bottom: 0;
}

}
