@charset "utf-8";

* {
  margin: 0px;
  color: #474645;
  font-optical-sizing: auto;
}

body {
	font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal; 
}

.detail {
  color: #5B5656;
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
}

.container-detail {
  width: 100%;
  max-width: 100%;
	height: auto;
}

.business-hour,
.access {
  flex: 1;
}

.gmap-iframe {
  aspect-ratio: 10 / 7;
  max-width: 100%;
  width: 100%;
  height: auto;

}

.logo-top {
  width: 100%;
  position: relative;
  background-color: #D9D9D9;
  display: inline-block;
  height: auto;
  position: relative;
}

.logo-top h1 {
  display: none;
  position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100%;
  width: 100%;
  padding-left: 20%;
}

.top-photo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  display: block;
}

.news h2,
.time h2 {
  text-align: center;
}

.greeting {
  text-align: center;
}

.hospital-photo {
  text-align: center;
}

.news-top {
  display: none;
}

.message-title,
.message-right {
font-size: 100%;
padding: 10px;
}

html {
  font-size: 20px;
}

.header-top {
	padding-top: 75px;
}

h2 {
	font-size: 120%;
	padding: 50px 0 10px 0;
}
h3 {
	font-size: 70%;
}

p {
	font-size: 80%;
	text-align: left;
}

.container {
  width: 100%;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

ul {
  padding: 0;
  list-style: none;
}


a {
  color: #474645;
  text-decoration: none;
  font-size: 120%;
}

a:hover {
  color: #5B5656;
}


.p-margin {
margin: 5px 20px 20px 20px;
}

.sub-padding{
	margin: 10px 20px 0 20px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 100;
}

.header-top {
  padding-top: 80px;
}

.hospital-logo {
  height: 40px;   
	padding: 15px 0 0 0;
}

.nav {
  position: fixed;
  right: -320px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding-top: 60px;
  background-color: #fff;
  transition: all 0.6s;
  z-index: 200;
  overflow-y: auto;
}

.hamburger {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.nav-item {
  text-align: center;
}
.nav-item a {
  display: block;
  padding: 12px 5px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #333;
	font-size: 85%;
}

.hamburger-border {
  position: absolute;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: all 0.6s;
}
.hamburger-border-top {
  top: 14px;
}
.hamburger-border-center {
  top: 20px;
}
.hamburger-border-bottom {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
}

.nav-open .nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: 0.8;
  visibility: visible;
}
.nav-open .hamburger-border-top {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger-border-center {
  width: 0;
  left: 50%;
}
.nav-open .hamburger-border-bottom {
  transform: rotate(-45deg);
  top: 20px;
}

.grid {
	text-align: center;
}

hr {
	width: 100%;
}

p.copyright {
  color: #5B5656;
}

.copyright {
  text-align: center;
  padding: 20px;
  margin: 0;
}

.title-padding {
	padding: 10px;
	justify-content: center;
}

th,
td {
  border-top: 1px solid rgb(160, 160, 160);
  border-bottom: 1px solid rgb(160, 160, 160);
  padding: 10px 0;
  background-color: transparent; 
  font-size: 65%;
}

th[scope="col"] {
  border-top: none;
  background-color: #ffffff;
  color: #474645;
}

th[scope="row"] {
  background-color: #ffffff;
  width: 34%;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: transparent;
}

table {
  width: auto;
  border-collapse: collapse;
  border: none;
  font-family: sans-serif;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  text-align: right;
  font-size: 65%;
}

img.doctor-img {
	max-width: 100%;
	width: 100%;
	height: auto;
	padding-top: 20px;
}

img.char-img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.hospital-photo {
  display:flex;
  flex-direction: column;
}

.message {
    order:2;
  }


.change-img {
    order: 1;
  }

.phone {
	font-size: 150%;
	letter-spacing: 7px;
}

.footer-day {
	font-size: 70%;
}

.container-detail{
  display:flex;
  flex-direction: column;
}

.business-hour {
	background-color: #f3f2f2;
	margin-bottom: 0;
	order:2;
	margin-top: -6px;
  }

.access {
    order: 1;
  }

details {
	margin-bottom: 10px;
}
	
summary {
	display: block;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
	border-bottom: 1px solid #cecece;
	color: #fff;
	position: relative;
}

.accordion-content {
	padding: 10px 15px;
}

details[open] summary {
	color: #fff;
}

.header-position {
	display: none;
}

.title-padding {
	padding: 10px;
	border: 1px solid #5B5656;
}

[id] {
	scroll-margin-top: 80px; /* ヘッダーの高さに合わせて調整 */
}


@media screen and (min-width: 700px) and (max-width: 1200px) {
  .container {
    max-width: 680px;
  }

  h1 {
    font-size: 110%;
  }
  h2 {
    font-size: 120%;
  }
  h3 {
    font-size: 85%;
    font-weight: normal;
  }
  h4 {
    font-size: 80%;
    font-weight: bold;
    border-bottom: 1px dotted #ffffff;
    padding-top: 20px;
  }
  p {
    font-size: 75%;
    padding-top: 5px;
  }
	.sub-padding{
		margin: 0 0 0 160px;
		font-size: 100%;
	}
	.p-margin {
		margin: 10px 0 30px 160px;
		}

	th,
	td {
		font-size: 90%;
	}

	caption {
		font-size: 90%;
	}

	hr {
		width: 300px;
	}
}

@media screen and (min-width: 1200px) {
  header {
    height: 90px;
  }

  .header-top {
    padding-top: 90px;
  }

  h2 {
    font-size: 150%;
		padding: 60px 0 40px 0;
  }
  h3 {
    font-size: 100%;
  }

  p {
    font-size: 85%;
  }

	.sub-padding {
		padding-top: 0;
		}

  .hospital-logo {
    height: 60px;
		padding: 15px 0 0 20px;
  }

  .nav {
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    transition: none;
    z-index: auto;
    overflow: visible;
    display: flex;
  }

  .nav-list {
    display: flex;
    list-style: none;
    padding: 0 20px 0 0;
    margin: 0;
  }

  .nav-list li {
    margin: 0 10px;
    padding-top: 17px;
  }

  .nav-list a {
    text-decoration: none;
    color: #474645;
  }

  .nav-item {
    padding: 0;
  }

  .nav-item a {
    border-bottom: none;
    text-decoration: none;
    padding: 10px 15px;
		font-size: 110%;
  }

  .nav-item a:hover {
    color: #c5c1c1;
  }

  .hamburger {
    display: none;
  }

  .hamburger-border {
    display: none;
  }

  .menu {
    display: flex;
  }

  .header-position {
		display: block;
    margin: 0;
    padding: 0 30px;
  }

	.footer-position {
    padding: 0 30px;
  }

	.phone {
		font-size: 180%;
}

  .grid {
    display: flex;
		justify-content: center;
		align-items: center; 
  }

  hr {
		width: 500px;
  }

  .copyright {
    text-align: center;
    padding: 10px;
  }

  .container {
    max-width: 1600px;
  }

  .black-bg {
    display: none;
  }
	
  .title-padding {
    padding: 10px;
		margin: 0 20%; 
		display: grid;
		border: 1px solid #5B5656;
  }

  th,
  td {
    padding: 30px 25px;
    font-size: 125%;
  }

  th[scope="row"] {
    width: 100%;
  }

  table {
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  caption {
    font-size: 125%;
  }

		
	img.doctor-img {
		max-width: 100%;
		width: 3500px;
		height: auto;
		padding-bottom: 50px;
		padding-top: 0;
	}

	img.char-img {
		max-width: 100%;
		width: 3650px;
		height: auto;
		padding-bottom: 50px;
	}

	.hospital-photo,
	.container-detail {
		flex-direction: row;
	}

	.message,
	.business-hour {
		margin: 0;
		order: 0; 
	}

	.change-img,
	.access {
		order: 0;
	}

	.p-margin {
		margin: 10px 0 35px 100px;
		}
		
	.sub-padding{
		margin: 40px 0 10px 95px;
	}


	/* アコーディオン*/
	
	details {
		border: none;
		border-radius: 0;
		margin-bottom: 0;
		pointer-events: none;
	}
	
	summary {
		font-weight: normal;
		padding: 0;
		text-align: left;
		cursor: pointer;
		background-color: #ffffff;
	}
	
	.accordion-content {
		border-top: 0.5px solid #dfdede;
		padding: 10px 0;
	}
	
	details[open] summary {
		background-color: initial;
	} 

	
  .container-detail {
    display: flex;
  }
	
  .logo-top {
    margin: 0;
    padding: 0;
  }

  .logo-top h1 {
    top: 55%;
    left: 50%;
    font-size: 320%;
    padding-left: 50%;
  }

  .top-photo {
    width: 100%;
  }



  .hospital-photo {
    display: flex;
  }

  .message {
    padding: 0 60px 0 0;
    text-align: left !important;
  }

	.message1 {
		padding: 0 0 0 60px;
	}

	.message-right {
		text-align: right;
		padding: 0 0 20px 0;
	}


  .news {
    text-align: center;
		padding-top: 30px;
  }

	h4.border{
		padding-top: 70px;
	}

	.message-title {
		text-align: left;
	}	

	.message-title,
	.message-right {
		padding: 0 0 20px 0;
	}

	.message-content {
		line-height: 30px;
	}
}
